.signup1 {
  width: 400px;
  margin: 16px auto;
  font-size: 16px;
}

/*Reset top and bottom margins from certain elements */
.signup-header,
.signup1 p {
  margin-top: 0;
  margin-bottom: 0;
}

The triangle form is achieved by a CSS hack 
.signup-triangle {
  width: 0;
  margin-right: auto;
  margin-left: auto;
  border: 12px solid transparent;
  border-bottom-color: #28d;
}

.signup-header {
  background: #28d;
  padding: 20px;
  font-size: 1.4em;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}

.signup-container {
  background: #ebebeb;
  padding: 12px;
}

 /*Every row inside .login-container is defined with p tags */
.signup1 p {
  padding: 12px;
}

.signup1 .wl-signup-common {
  box-sizing: border-box;
  display: block;
  width: 100%;
  border-width: 1px;
  border-style: none;
  padding: 16px;
  outline: 0;
  font-family: inherit;
  font-size: 0.95em;
}

.signup1 input[type="email"],
.signup1 input[type="password"] {
  background: #fff;
  border-color: #bbb;
  color: #555;
}

 /*Text fields' focus effect */
.signup1 input[type="email"]:focus,
.signup1 input[type="password"]:focus {
  border-color: #888;
}

.signup1 input[type="submit"] {
  background: #28d;
  border-color: transparent;
  color: #fff;
  cursor: pointer;
}

.signup1 input[type="submit"]:hover {
  background: #17c;
}

 /*Buttons' focus effect */ 
.signup1 input[type="submit"]:focus {
  border-color: #05a;
}



.wl-input {
    border: 1px solid #11489B;
    padding: 12px 40px;
    text-decoration: none;
    
    border-radius: 7px;
    
}





.empty_filed{
  border: 2px solid red !important;
}
/*.wl-custom-button{
     padding: 10px 20px;
    border-radius: 10px;
    margin: 0 auto;
    margin-left: 20px;
    margin-top: 15px;
    background: #00AAA0;
    letter-spacing: 2px;
    font-weight: bold;
    border: 1px solid #11489B; 
    transition: all 0.5s ease;
}
.wl-custom-button:hover{
    background-color:   #FCF4D9;
    
    transition: all 0.5s ease;
    color : #8ED2C9;
}*/
.wl-custom-container{
  background-image: linear-gradient(to right, rgba(76,76,76,0.59) 0%, rgba(71,71,71,0.59) 0%, rgba(43,43,43,0.59) 1%, rgba(44,44,44,0.59) 2%, rgba(89,89,89,0.59) 12%, rgba(63,63,63,0.59) 49%, rgba(28,28,28,0.98) 98%, rgba(0,0,0,0.99) 99%, rgba(19,19,19,1) 100%),url("beverage-coffee-computer-984536.jpg");
  background-repeat:  no-repeat;
  /*background-position: left center;*/
  padding : 10px;
  /*background-size: cover;*/
   position: fixed;
   left: 0;
    min-width: 100%;
    min-height: 100%;

}
/*.wl-custom-button-1{
    background : transparent;
    border : 1px solid #000;
    color : #FF7A5A;
    border-radius : 10px;
    padding : 10px 10px;
    font-weight: bold;
    letter-spacing: 1px;
    transition: all 0.5s ease;
}
.wl-custom-button-1:hover{
    background : #FCF4D9;
    border : 1px solid #000;
    border-radius : 10px;
     letter-spacing: 1px;
     font-weight: bold;
     transition: all 0.5s ease;
     color : #8ED2C9;
}*/
.wl-custom-button-1{
  background: #28d;
  border-color: transparent;
  color: #fff;
  padding: 10px 50px;
  margin-left: 17%;
}
